/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


  body {
      font-family: 'Poppins', sans-serif;
      /* background-image: url('../images/Chcken Sandwich.jpeg'), linear-gradient(black, red); */
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
  }

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.bg-light{
  background-color:transparent !important ; 
}

.card-header{
  text-align: center;
  background: black;
  border:black;
}

.navbar {
  background: aliceblue;
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
/* Nav */

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.nav-tabs {
  background: aliceblue;

}


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    Container STYLE
----------------------------------------------------- */

.container {
    max-width: 100%;
    float: right;
    top:20px;
}

/* ---------------------------------------------------
    Container STYLE
----------------------------------------------------- */

 #top-box{
  margin: 0 auto;
  color:white;
}

#text{
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1em;
  color:gray;
  text-align: center;
  margin-top: 20px;
}



/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    /* position: fixed; */
    margin-top: auto;
    margin-bottom: auto;
    min-width: 50%;
    min-height: 50%;
    
  }
  
#walkthrough{
  background-image: linear-gradient(black, gray);
}
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 16px;
    padding: 8px;
    border: none;
    /* color: #fff;
    background-color: #007bff; */
    border-radius: .25rem;
    cursor: pointer;
  }
  
  #myBtn:hover {
    color: #fff;
    background-color: #007bff;
    border-radius: .25rem;
  }

  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  
  img{
    width: 100%;
    margin-bottom: 20px;
  }

  img.demo {
    opacity: 0.6;
  }
  
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #logo{
    width: 33%;
  }
/*   
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 100px;
    font-size: 80px;
    color: white;
  }

  #call{
    /* background-image: linear-gradient(black, red); */
    /* background-image: linear-gradient(to bottom right, black , red); */
    text-align: center;
    color: green;
  }

  /* Email */
  #email{
    /* background-image: linear-gradient(black, red); */
    /* background-image: linear-gradient(to bottom right, black , red); */
    text-align: center;
    color: green;
  }


  /* Google Maps */
  #gmap_canvas img {
    max-width: none !important;
    background: none !important;
}
#number{
  background-color: rgb(0, 183, 255);
  color: black;
  text-decoration: underline;
}
a:active{
  color: blue;
  text-decoration: underline;
}

h2{
  color:black;
  text-align: center;
}

h3{
  color:black;
  text-align: center;
}
h4{
  color:black;
  text-align: center;
}

/* Footer */

#footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 17px;
  /* Vertically center the text there */ 
  background-color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1em;
  color:gray;
  text-align: center;
}

/* Modal Count Down */
.modal-body {
  text-align: center;
  padding: 70px 50px;
  background: black;
  font-family: sans-serif;
  font-weight: lighter;
  /* background-color: linear-gradient(to bottom right, #0D1A29 , red); */
}
#modalImage{
  width: 100%;
}

#modalMessage{
  /* background-color: white; */
  color: white;
}
#dayTimer, #hourTimer, #minuteTimer, #secondTimer {
  font-size: 39px;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px rgb(255, 0, 0);
}

#day, #hour, #minute, #second {
  font-weight: 100;
  color: white;
  /* text-shadow: 0 0 20px rgb(211, 13, 13); */
}

/* career styling */

.label{
  display: block;
  margin-top: auto;
  width: 100%;
}
.label i {
  color: #999;
  font-size: 80%;
  width: 100%;
}

#fullName, #eMail, #address, #city, #phoneNumber, #jobTitle, #employment, #School{
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}

input, select {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
}

input[type="submit"] {
  font-size: 110%;
  font-weight: 100;
  background: #006dcc;
  border-color: #016BC1;
  box-shadow: 0 3px 0 #0165b6;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #0165b6;
} 

#articleBody{
  max-width: 50%;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 45px;
}
.error{
  color: red;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  #orderNow{
    max-width: 25%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #orderNow{
    max-width: 20%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #orderNow{
    max-width: 15%;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #orderNow{
  max-width: 10%;
} 
}

/* body {margin:0;height:2000px;} */

.icon-bar {
  /* position: fixed; */
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-10%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.content {
  margin-left: 75px;
  font-size: 30px;
}